.nav-bar {
  background-color: #f4e0e3;
  justify-content: right;
  display: flex;
  margin: 0;
  width: 100vw;
  padding: 10px;
}

.nav-bar li {
  list-style-type: none;
  margin: 0 25px;
  font-size: 18px;
  font-weight: bold;
  color: #bf10cf;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-bar li:hover {
  color: #333;
  transform: translateY(8px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4e0e3;
}

.draft-logo {
  
}